RewriteEngine On
RewriteCond %{HTTP_HOST} ^azurewebsites.net [NC,OR]
RewriteCond %{HTTP_HOST} ^speakupinbronchiectasis.com [NC]
RewriteRule ^(.*)$ https://www.speakupinbronchiectasis.com/$1 [L,R=301]

# Extra Security Headers
Header set X-XSS-Protection "1; mode=block"
Header always append X-Frame-Options SAMEORIGIN
Header set X-Content-Type-Options nosniff
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains;"
Header always set Referrer-Policy: strict-origin
Header always set Permissions-Policy: fullscreen=()

ErrorDocument 404 /page-not-found/
ErrorDocument 500 /internal-server-error/